node-red.json
[
    {
        "id": "abc9f30beca7f22a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5a8492f35e43bf2",
        "type": "ui_chart",
        "z": "abc9f30beca7f22a",
        "name": "",
        "group": "24e8b13bca441da4",
        "order": 4,
        "width": 10,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "70",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#28a428",
            "#98df8a",
            "#db0a0a",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3215fd60b9e0f5a9",
        "type": "ui_slider",
        "z": "abc9f30beca7f22a",
        "name": "",
        "label": "min temperature",
        "tooltip": "",
        "group": "24e8b13bca441da4",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "18536289ae206b9c"
            ]
        ]
    },
    {
        "id": "8abc0d3022742a3d",
        "type": "ui_slider",
        "z": "abc9f30beca7f22a",
        "name": "",
        "label": "max temperature",
        "tooltip": "",
        "group": "24e8b13bca441da4",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "31",
        "max": "70",
        "step": 1,
        "className": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "9ad6a921bcc65d38"
            ]
        ]
    },
    {
        "id": "329be790a5914692",
        "type": "ui_gauge",
        "z": "abc9f30beca7f22a",
        "name": "",
        "group": "24e8b13bca441da4",
        "order": 3,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Speed",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "top: 500px; left: 350px;",
        "x": 310,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba92489b60f002d1",
        "type": "ui_chart",
        "z": "abc9f30beca7f22a",
        "name": "",
        "group": "24e8b13bca441da4",
        "order": 12,
        "width": 10,
        "height": 5,
        "label": "Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3f7ba1ad7238a481",
        "type": "ui_gauge",
        "z": "abc9f30beca7f22a",
        "name": "",
        "group": "24e8b13bca441da4",
        "order": 10,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "RPM 1",
        "label": "rpm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "600",
        "seg2": "1100",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 540,
        "wires": []
    },
    {
        "id": "38d20360640188e1",
        "type": "ui_gauge",
        "z": "abc9f30beca7f22a",
        "name": "",
        "group": "24e8b13bca441da4",
        "order": 11,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "RPM 2",
        "label": "rmp",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "600",
        "seg2": "1100",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "f337682ce41d371c",
        "type": "ui_slider",
        "z": "abc9f30beca7f22a",
        "name": "",
        "label": "min speed",
        "tooltip": "",
        "group": "24e8b13bca441da4",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "300",
        "max": "600",
        "step": "5",
        "className": "",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "63151b880d3ea152"
            ]
        ]
    },
    {
        "id": "83833b69bf31f64d",
        "type": "ui_slider",
        "z": "abc9f30beca7f22a",
        "name": "",
        "label": "max speed",
        "tooltip": "",
        "group": "24e8b13bca441da4",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "650",
        "max": "1025",
        "step": "5",
        "className": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "173e09cb1cac4e4f"
            ]
        ]
    },
    {
        "id": "cc808780bbdd5ea1",
        "type": "ui_gauge",
        "z": "abc9f30beca7f22a",
        "name": "",
        "group": "24e8b13bca441da4",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "55",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "0537f947938bcf67",
        "type": "ui_text",
        "z": "abc9f30beca7f22a",
        "group": "24e8b13bca441da4",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Control speed",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1060,
        "y": 560,
        "wires": []
    },
    {
        "id": "87c27e484677319b",
        "type": "ui_text",
        "z": "abc9f30beca7f22a",
        "group": "24e8b13bca441da4",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Control temperature",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "b158d021a7d61b11",
        "type": "mqtt in",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7a4ce4e7492a0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a5a8492f35e43bf2",
                "cc808780bbdd5ea1"
            ]
        ]
    },
    {
        "id": "7cc5db0fef1388fa",
        "type": "mqtt in",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "speed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7a4ce4e7492a0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "ba92489b60f002d1",
                "329be790a5914692"
            ]
        ]
    },
    {
        "id": "75aad2013041a564",
        "type": "mqtt in",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "RMP1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7a4ce4e7492a0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "3f7ba1ad7238a481"
            ]
        ]
    },
    {
        "id": "71893cc9111a4127",
        "type": "mqtt in",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "RMP2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7a4ce4e7492a0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "38d20360640188e1"
            ]
        ]
    },
    {
        "id": "9ad6a921bcc65d38",
        "type": "mqtt out",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "max_temperature",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a4ce4e7492a0a8",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "18536289ae206b9c",
        "type": "mqtt out",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "min_temperature",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a4ce4e7492a0a8",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "63151b880d3ea152",
        "type": "mqtt out",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "min_speed",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a4ce4e7492a0a8",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "173e09cb1cac4e4f",
        "type": "mqtt out",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "max_speed",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a4ce4e7492a0a8",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "54c7c42bbb9236be",
        "type": "ui_switch",
        "z": "abc9f30beca7f22a",
        "name": "",
        "label": "Led",
        "tooltip": "",
        "group": "24e8b13bca441da4",
        "order": 17,
        "width": 5,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "e9b0b9817fdf51aa"
            ]
        ]
    },
    {
        "id": "e9b0b9817fdf51aa",
        "type": "mqtt out",
        "z": "abc9f30beca7f22a",
        "name": "",
        "topic": "Led_Control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a4ce4e7492a0a8",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "7a8411c46ff3f490",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "35981a00b86083b7",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "8e2980ba47f2222b",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 15,
        "width": 5,
        "height": 1
    },
    {
        "id": "cf9b4e3cbe9b5850",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "ef96e05e301127e7",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 18,
        "width": 20,
        "height": 1
    },
    {
        "id": "dcd7470f3e41de06",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 19,
        "width": 20,
        "height": 1
    },
    {
        "id": "434c357df229c6f5",
        "type": "ui_spacer",
        "z": "abc9f30beca7f22a",
        "name": "spacer",
        "group": "24e8b13bca441da4",
        "order": 20,
        "width": 20,
        "height": 1
    },
    {
        "id": "24e8b13bca441da4",
        "type": "ui_group",
        "name": "",
        "tab": "c808b1930b8c9874",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7a4ce4e7492a0a8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c808b1930b8c9874",
        "type": "ui_tab",
        "name": "IOT cooling",
        "icon": "whatshot",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]